* {
  margin: none;
  padding: none;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Karla", sans-serif;
}

body {
  background-color: #fff;
  color: #111;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 1rem;
}

.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
/* Navbar */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 2rem;
  color: #000000;
}

.navbar a {
  font-size: 1.5rem;
  color: #000000;
  margin-left: 4rem;
  font-weight: 400;
}

.navbar a:hover,
.navbar a.active {
  color: #5800ff;
}

#bar {
  font-size: 2.6rem;
  color: #fff;
  display: none;
}

/* Home */
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home h2 {
  font-size: 2.5rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  animation: fadeInRight 1s ease-in-out;
}

span {
  font-size: 4rem;
  color: #8a5ec3;
  animation: fadeInRight 3.5s ease-in;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 0.3;
  color: #6e07f3;
  animation: zoomIn 2s ease-in-out;
}

.home-img img {
  width: 25vw;
  animation: floatImage 3.6s ease-in-out infinite;
}

.home-content p {
  font-size: 2rem;
  font-weight: 400;
  color: #070707;
  animation: fadeInLeft 2s ease-in;
}

.social-media-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  background: transparent;
  font-size: 2rem;
  color: #000000;
  margin: 2.1rem 1.5rem 2.5rem 0;
  transition: 0.5s ease;
  animation: flipInX 7s ease-in;
}

.social-media-icons a:hover {
  background-color: #5800ff;
  color: #fff;
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: #fff;
  border-radius: 4rem;
  border: 1px solid #6e07f3;
  font-size: 1.6rem;
  color: #000000;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}

.btn:hover {
  background-color: #111;
  color: #fff;
}

/* About section */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: #fff;
}

.about-img img {
  width: 35vw;
  height: auto;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-content h3 {
  font-size: 3rem;
}

.about-content h2 {
  font-size: 5rem;
  color: #6e07f3;
}

.about-content p {
  font-size: 2.3rem;
  text-align: center;
  line-height: 3.5rem;
  color: #000000;
}

.animation-p {
  animation: fadeInLeft 3s ease-in-out infinite;
}

/* Skills */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.skills-h2 {
  font-size: 4.5rem;
  color: #6e07f3;
}
.skills-p {
  font-size: 2rem;
  font-weight: 600;
}
.skills-container {
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.skill-heading {
  font-size: 3rem;
}

.skills-icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 40%;
  gap: 5rem;
}

.skills-icons-container i {
  font-size: 4rem;
}

/* Portfolio */
.projects {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
  gap: 50vh;
}

.projectsTitle {
  font-size: 5.6rem;
  color: #6e07f3;
  text-align: center;
}

.project {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 100px;
  height: 100vh;
  overflow: hidden;
}

.projectDetail {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.projectTitle {
  font-size: 4vw;
  color: #555;
}

.projectDesc {
  font-size: 20px;
  color: #555;
  text-align: center;
  line-height: 40px;
}

.projectButton {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #555;
  color: #555;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-decoration: none;
}

.projectButton::after {
  content: "View Demo";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: 1s all;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #fff;
}

.projectButton:hover.projectButton::after {
  transform: translateX(100%);
}

.laptop {
  width: 600px;
  height: 370px;
  flex: 1;
  position: relative;
}

.laptopScreen {
  width: 451px;
  height: 283px;
  position: absolute;
  top: 18px;
  left: 68px;
  overflow: scroll;
}

.laptopApp {
  width: 100%;
  height: 100%;
}

.laptopScreen::-webkit-scrollbar {
  display: none;
}
/* Contact */
.contact-heading {
  font-size: 4.5rem;
  color: #6e07f3;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  background-color: #fff;
  color: #000000;
  border: 0.1rem solid #000000;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
  font-weight: 400;
}

/* Animations */
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* Media queries */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .projects {
    padding: 0 30px;
    text-align: center;
  }

  .project {
    flex-direction: column;
    height: max-content;
  }

  .laptop {
    transform: none !important;
  }

  .projectTitle {
    transform: none !important;
  }

  .projectDesc {
    transform: none !important;
  }

  .projectButton {
    transform: none !important;
  }

  .home-content h1 {
    font-size: 4rem;
  }

  .home-content span {
    font-size: 3rem;
  }
}

@media (max-width: 990px) {
  .logo {
    padding-top: 2rem;
    position: relative;
    left: 0rem;
  }

  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 5rem 3%;
  }
  .skills {
    padding: 7rem;
  }
  .portfolio {
    padding-bottom: 7rem;
  }
  .contact {
    height: 60vh;
    margin-top: 10rem;
  }
}

@media (max-width: 768px) {
  #header {
    padding-left: 2rem;
    height: 5vh;
  }

  .logo {
    padding-top: 2rem;
    left: 4;
  }

  #bar {
    display: block;
    position: absolute;
    right: 1rem;
    padding-top: 2rem;
    padding-right: 2rem;
    color: #000000;
  }

  .fa-x {
    color: #000000;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: #fff;
    display: none;
  }

  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 1.6rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 3rem;
  }
  .home-content h1 {
    font-size: 3rem;
  }
  .home-content span {
    font-size: 2rem;
  }
  .home-content h2 {
    font-size: 2rem;
  }
  .home-img img {
    width: 50vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column;
  }
  .skills-p {
    text-align: center;
  }
  .project {
    display: 100vh;
  }
}

@media (max-width: 650px) {
  .home-img img {
    width: 80vw;
    margin-top: 8rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .project {
    height: max-content;
    gap: none;
  }

  .projectTitle {
    font-size: 4rem;
  }

  .projectDesc {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .laptop img {
    height: 220px;
    width: 300px;
  }

  .laptopScreen {
    top: 11px;
    left: 71px;
  }

  .laptopScreen img {
    height: 170px;
    width: 230px;
  }

  .contact form .input-box input {
    width: 100%;
  }

  .logo {
    position: absolute;
    left: 10px;
  }
}
